<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556664956653-54lu232p5gfdhupto1dlk8qlt6dlrqdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556664956653-54lu232p5gfdhupto1dlk8qlt6dlrqdr</string>
	<key>API_KEY</key>
	<string>AIzaSyCQK9OiozEszphyCoPs2MkhPJh4nsOYwwc</string>
	<key>GCM_SENDER_ID</key>
	<string>556664956653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SCH.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotessch</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotessch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556664956653:ios:6547e1a5171e1815c30ee4</string>
</dict>
</plist>